.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1836;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.tagcloud--item:hover {
    color: #fff347;
}

@media (max-width: 768px) {
  .tagcloud {
    font-size: 0.8em;
  }
  
  .tagcloud--item {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .tagcloud {
    font-size: 0.6em;
  }
  
  .tagcloud--item {
    font-size: 15px;
  }
}
